@keyframes changeColor {

  from {background-color:blue}
  to {background-color:pink}
}


.box{

  height:200px;
  width:200px;
  border-style: solid;
  border-color: red;
  animation-name: changeColor;
  animation-duration: 5s;

}
